body{
    margin:0;
    background-color: #f7f9fa;
}
#header{
    width:98.5%;
    height: 60px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    font-size: 16px;
}
#search_bar{
    width: 350px;
    height: 40px;
    border:1px solid black;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 20px;
}

#login_button{
    height:40px;
    width:80px;
    font-weight: bold;
}
#signup_button{
    height:40px;
    width:80px;
    background-color: black;
    color: white;
    font-weight: bold;
}

#section1{
    padding-left: 100px;
    padding-top: 70px;
    height:350px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}
#card{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width:400px;
    height:170px;
    background-color: white;
}
#section2{
    padding-left: 60px;
    

}
#subheader{
    width: 70%;
    display: flex;
    padding-left: 60px;
    justify-content: space-between;
    
}
#thirdheader{
    width: 90%;
    display: flex;
    padding-left: 55px;
    justify-content: space-between;
    padding-top: 30px;
}

#div1{
    height: 45px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: rgb(233, 234, 238);
    border-radius: 25px;

}
#section3{
    width:95%;
    display: flex;
    padding-left: 60px;
    padding-top: 30px;
}
#cards1{
    width: 280px;
    height:350px;
    background-color: rgb(251, 251, 255);
}
#cards2{
    margin-left: 15px;
    width: 300px;
    height:350px;
    background-color: rgb(251, 251, 255);
}
#cards3{
    margin-left: 15px;
    width: 300px;
    height:350px;
    background-color: rgb(251, 251, 255);
}
#cards4{
    margin-left: 15px;
    width: 300px;
    height:350px;
    background-color: rgb(251, 251, 255);
}

#box{
    margin-top: 50px;
    margin-left: 60px;
    width: 300px;
    height: 50px;
    border:1px  solid black;
    font-size: 18px;
    text-align: start;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}

#section4{
    margin-top: 50px;
    width:98.5%;
    background-color: white;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    color: rgb(139, 138, 138);
    font-size: 20px;
}
#section5{
    display: flex;
    padding-left: 60px;
    justify-content: space-around;
   
}
#cont1{
    width:500px;
    height:120px;
    border: 1px solid rgb(147, 4, 214);
    border-radius: 5px;
    border-left-width: 8px;
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 10px;  
}
#footer{
    background-color: rgb(28, 29, 31);
    width: 98.5%;
    padding-left: 20px;
}
